@define-color bg-color rgba(17, 17, 27, 0.7);
@define-color primary-color #cba6f7;
@define-color critical-color #f38ba8;
@define-color warning-color #fab387;

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

* {
  border: none;
  border-radius: 0px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  font-family: jetbrainsmono, symbolsnerdfont;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

#clock,
#tray,
#workspaces,
#submap,
#backlight,
#custom-keyboard-layout,
#network,
#idle_inhibitor,
#window,
#custom-performance,
#custom-power,
#custom-audio {
  background-color: @bg-color;
  border-radius: 3px;
  padding: 0px 6px;
  margin: 0px 3px;
}

#battery,
#memory,
#cpu {
  padding-right: 0.75rem;
}

#pulseaudio.microphone {
  padding-left: 0.75rem;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @warning-color;
}

#battery.critical {
  color: @critical-color;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu.warning,
#memory.warning {
  color: @warning-color;
}

#cpu.critical,
#memory.critical,
#temperature.critical {
  color: @critical-color;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.critical {
  animation-name: blink-critical;
  animation-duration: 2s;
  padding-left: 5px;
  padding-right: 5px;
}

#network.disconnected {
  color: orange;
}

#submap {
  animation-name: blink-warning;
  font-weight: bold;
  border: 2px solid #fab387;
  border-radius: 15px;
  padding: 0px 16px;
}

#workspaces {
  padding: 0;
}


#workspaces button.active {
  background-color: @primary-color;
  color: #4c4f69;
}
